{{#each comments as |comment|}}
<div>
    <h3>{{comment.username}}</h3>
    <p>{{comment.comment}}</p>
</div>
{{/each}}

{{#if loggedin}}

<div>
    <h3>Join the discussion</h3>
    <input type="text"><button>Submit</button>
</div>
{{#else}}

<div>
    <h3>Log in to join the discussion.</h3>

    <form method="get" action="/">
        <button type="submit">Log in</button>
    </form>
</div>
{{/if}}