<a href="/philosopher/{{id}}">
    <div class="philosophercard card">
    <div class="imgBx">
        <img src="/img/philosopher-profile-images/{{name}}.jpg" alt="{{name}} profile image">
    </div>
    <div class="details">
        <h2>{{name}}</h2>
    </div>
</div>
</a>