<a href="/philosophers/{{philosopher.id}}">
    <div class="card">
    <div class="imgBx">
        <img src="/img/philosopher-profile-images/{{philosopher.imageUrl}}" alt="{{philosopher.name}} profile image">
    </div>
    <div class="details">
        <h2>{{philosopher.name}}</h2>
    </div>
</div>
</a>