<section>
    <div>
        <h2>Don't see a philosopher, quote or daily question? Let us know who or what we should add!</h2>
        <a href="/suggestions">Make a suggestion</a>
    </div>
</section>