<section>
    <div class="flex flex-col sm:flex-row px-8 items-center">
        <div class="flex flex-1 flex-col items-center justify-center sm:text-xl sm:pl-8 sm:pr-12 text-center sm:border-r-2 sm:border-white">
            <h3 class="pb-4 sm:pb-0">Don't see a philosopher, quote or daily question? Let us know who or what we should add!</h3>
        </div>
        <div class="flex flex-1 flex-col items-center justify-center">
            <a href="/suggestions" class="text-white rounded-md p-3 sm:text-xl border-white border-2 border-solid whitespace-nowrap w-auto" style="background-color:#4d83a3; align-items: center;">Make a suggestion</a>
        </div>
    </div>
</section>