<!-- grid boxes of philosophers -->
<section class="profile-cards opacity-80"
    style="background-image: url(/img/background-driedflowers.jpg);">
    <div class="py-14"></div>

    <div class="philosophy-times">
        <h1 class="profile-h1">Ancient Philosophers</h1>

        <div class="box">
            <!-- cards for each philosopher  -->

            {{#each philosophers as |philosopher|}}
            {{#if (isAncient philosopher)}}
            {{> philosopherCard philosopher}}
            {{/if}}
            {{/each}}

        </div>
    </div>
    <!-- Medieval philosophers -->
    <div class="philosophy-times">
        <h1 class="profile-h1">Medieval Philosophers</h1>

        <div class="box">
            <!-- cards for each philosopher  -->

            {{#each philosophers as |philosopher|}}
            {{#if (isMedieval philosopher)}}
            {{> philosopherCard philosopher}}
            {{/if}}
            {{/each}}

        </div>
    </div>
    <!-- modern philosophers -->
    <div class="philosophy-times">
        <h1 class="profile-h1">Modern Philosophers</h1>

        <div class="box">
            <!-- cards for each philosopher  -->

            {{#each philosophers as |philosopher|}}
            {{#if (isModern philosopher)}}
            {{> philosopherCard philosopher}}
            {{/if}}
            {{/each}}

        </div>
    </div>
    <!-- Contemporary philosophers -->
    <div class="philosophy-times">
        <h1 class="profile-h1">Contemporary Philosophers</h1>

        <div class="box">
            <!-- cards for each philosopher  -->

            {{#each philosophers as |philosopher|}}
            {{#if (isContemporary philosopher)}}
            {{> philosopherCard philosopher}}
            {{/if}}
            {{/each}}

        </div>
    </div>
    <div class="philosophy-times">

        <div class="box">
            <!-- card for suggestions  -->

            {{> suggestionCard }}

        </div>
    </div>
</section>