<!-- grid boxes of philosophers -->
<section class="profile-cards"
    style="background-image: url(/img/background-driedflowers.jpg); opacity: 0.8; border-top: 10px solid rgba(0, 0, 0, 0.8);">
    <div class="philosophy-times">
        <h1 class="profile-h1">Ancient Philosophers</h1>

        <div class="box">
            <!-- cards for each philosopher  -->

            {{#each philosophers as |philosopher|}}
            {{#if (isAncient philosopher)}}
            {{>philosopherCard philosopher}}
            {{/if}}
            {{/each}}

        </div>
    </div>
    <!-- Medieval philosophers -->
    <div class="philosophy-times">
        <h1 class="profile-h1">Medieval Philosophers</h1>

        <div class="box">
            <!-- cards for each philosopher  -->

            {{#each philosophers as |philosopher|}}
            {{#if (isMedieval philosopher)}}
            {{>philosopherCard philosopher}}
            {{/if}}
            {{/each}}

        </div>
    </div>
    <!-- modern philosophers -->
    <div class="philosophy-times">
        <h1 class="profile-h1">Modern Philosophers</h1>

        <div class="box">
            <!-- cards for each philosopher  -->

            {{#each philosophers as |philosopher|}}
            {{#if (isModern philosopher)}}
            {{>philosopherCard philosopher}}
            {{/if}}
            {{/each}}

        </div>
    </div>
    <!-- Contemporary philosophers -->
    <div class="philosophy-times">
        <h1 class="profile-h1">Contemporary Philosophers</h1>

        <div class="box">
            <!-- cards for each philosopher  -->

            {{#each philosophers as |philosopher|}}
            {{#if (isContemporary philosopher)}}
            {{>philosopherCard philosopher}}
            {{/if}}
            {{/each}}

        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/philosophersPage.js"></script>
</section>