<main class="homepage">
  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>
  <!-- hero content - what is philosophy  -->
  <section class="hero ">
    <header class="hero-container">
      <h1>What is Philosophy?</h1>
      <div class="rw-wrapper">
        <h2 class="rw-sentence whitespace-normal lg:whitespace-nowrap text-center">
          <span>Philosophy is a way of thinking about certain subjects such as<div class="rw-words rw-words-1">
            <span>ethics</span>
            <span>thought</span>
            <span>existence</span>
            <span>time</span>
            <span>meaning</span>
            <span>value</span>
          </div></span>
          
        </h2>
      </div>
    </header>
  </section>

</main>

<!-- We are going to put these qoutes in courousel  -->

<div class="owl-carousel owl-theme full-screen">
  {{#each carouselQuotes as |quote|}}
  <!--owl-slide-->
  <div class="flex items-center justify-center owl-slide cover"
    style="background-image: url(/img/{{randomBgimg}}); opacity: 0.8;">
    <div class="container my-width">
      <div class="flex-row items-center">
        <div class="static grid-cols-10 md:grid-cols-6">
          <div class="owl-slide-text boxy">
            <h2 class="owl-slide-animated owl-slide-title">“{{quote.quote}}”</h2>
            <div class="mb-4 owl-slide-animated owl-slide-subtitle">
              &mdash; {{quote.author}}
            </div>
            <a class="button owl-slide-animated owl-slide-cta" href="/quiz" role="button">Test Your Knowledge</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/owl-slide-->
  {{/each}}
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
  integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
  crossorigin="anonymous"></script>
<script src="/js/quote-carousel.js"></script>
<script src="/js/script.js"></script>