<main>
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <!-- hero content - what is philosophy  -->
    <section class="hero ">
        <header class="hero-container">
            <h1>What is Philosophy?</h1>
            <div class="rw-wrapper">
                <h2 class="rw-sentence">
                    <span>Philosophy is a way of thinking about certain subjects such as</span>
                    <div class="rw-words rw-words-1">
                            <span>ethics</span>
                            <span>thought</span>
                            <span>existence</span>
                            <span>time</span>
                            <span>meaning</span>
                            <span>value</span>
                    </div>
                </h2>
            </div>
        </header>
    </section>
    <!-- navigation  -->
    <header class="nav-header navigation">
        <nav class="main-nav">
            <p class="header active">UnansweredQuestions</p>
            <ul class="hidden menu" id="myLinks">
                <li><a href="./index.html">Home</a></li>
                <li><a href="./philosophers.html">Famous Philosophers</a></li>
                <li><a href="./quiz-HTML.html">Quiz</a></li>
                <li><a href="./quotes.html">Quotes</a></li>
            </ul>
        </nav>
        <!-- for hamburger menu  -->
        <nav id="menuToggle">
            <div id="menuToggle">
                <input type="checkbox" />
                <span></span>
                <span></span>
                <span></span>
                <ul id="menu">
                  <a href="./index.html"><li>Home</li></a>
                  <a href="./philosophers.html"><li>Famous Philosophers</li></a>
                  <a href="./quiz-HTML.html"><li>Quiz</li></a>
                  <a href="./quotes.html"><li>Quotes</li></a>
                </ul>
              </div>
        </nav>
    </header>

</main>

<!-- We are going to put these qoutes in courousel  -->

<div class="owl-carousel owl-theme full-screen">
    <div class="flex items-center justify-center owl-slide cover" style="background-image: url(./assets/images/carousel-image3_b.jpg); opacity: 0.8;">
      <div class="container my-width">
        <div class="flex-row items-center">
          <div class="static grid-cols-10 md:grid-cols-6">
            <div class="owl-slide-text boxy">
              <h2 class="owl-slide-animated owl-slide-title">“The time of man’s life, a moment his soul, a whirlwind, his reputation, a vague opinion. His life is a war. What then can we help? Philosophy. And philosophy is this: to ensure that engineering is still in us without injury and without injury, and is above the pleasures and pains”</h2>
              <div class="mb-4 owl-slide-animated owl-slide-subtitle">
                &mdash; Marcus Aurelius
              </div>
              <a class="button owl-slide-animated owl-slide-cta" href="./quotes.html" role="button">See More Quotes</a>
            </div>
          </div>
        </div>
      </div>
    </div><!--/owl-slide-->
  
    <div class="flex items-center justify-center owl-slide cover" style="background-image: url(./assets/images/carousel-image1_b.jpg); opacity: 0.8;">
      <div class="container my-width">
        <div class="flex-row items-center">
          <div class="static grid-cols-10 md:grid-cols-6">
            <div class="owl-slide-text boxy">
              <h2 class="owl-slide-animated owl-slide-title">“In dealing with philosophy as it should, it does nothing else than to seek the death and state that follows”</h2>
              <div class="mb-3 owl-slide-animated owl-slide-subtitle">
                &mdash; Plato
              </div>
              <a class="button owl-slide-animated owl-slide-cta" href="./quotes.html" role="button">See More Quotes</a>
            </div>
          </div>
        </div>
      </div>
    </div><!--/owl-slide-->
  
    <div class="flex items-center justify-center owl-slide cover" style="background-image: url(./assets/images/carousel-image2_b.jpg); opacity: 0.8;">
      <div class="container my-width">
        <div class="flex-row items-center">
          <div class="static grid-cols-10 md:grid-cols-6">
            <div class="owl-slide-text boxy">
              <h2 class="owl-slide-animated owl-slide-title">“To live is to suffer, to survive is to find some meaning in the suffering”</h2>
              <div class="mb-3 owl-slide-animated owl-slide-subtitle">
                &mdash; Friedrich Nietzsche
              </div>
              <button class="button owl-slide-animated owl-slide-cta" href="./quotes.html" role="button">See More Quotes</button>
            </div>
          </div>
        </div>
      </div>
    </div><!--/owl-slide-->
  </div>


    <script src="assets/lib/JQ/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>
    <script src="assets/js/quote-carousel.js"></script>
    <script src="assets/js/Script.js"></script>