<main class="opacity-80 flex flex-row" style="background-image: url(/img/background-blue-petals.jpg);">
    <div class="py-14"></div>
    {{#each polls as |poll|}}
    {{> pollCard poll}}
    {{/each}}
</main>