<main class="poll-main" style="z-index:1; background-size: cover; background-repeat: no-repeat;">

    <div class="py-14"></div>
    <div class="flex flex-row flex-wrap px-6">
        {{#each polls as |poll|}}
        {{> pollCard poll}}
        {{/each}}
    </div>
</main>

<script src="/js/poll.js"></script>