<main>
    <!--  qotd card  -->
    <div class=''>
        <h1>Daily Question</h1>
        <h2>{{daily_question.question}}</h2>

    </div>


    <!--  commment section  -->
    <div class=''>
        <h1>Comments</h1>
        <!--  each comments as comment card  -->
        {{#each daily_question.comments as |comment|}}
        <div>
            <h3>{{user.name}}</h3>
            <p>{{comment.comment}}</p>

        </div>
        {{/each}}


        <!--  submit comment (logged in)  -->
        {{#if loggedIn}}
        <!--comment input -->
        <div>
            <h3>Join the discussion</h3>
            <input type="text"><button>Submit</button>
        </div>
        {{else}}
        <!-- link to the login page -->
        <div>
            <h3>Log in to join the discussion.</h3>

            <button>Log In</button>



        </div>
        {{/if}}

    </div>
</main>