<main>
    <!--  qotd card  -->
    <div class=''>

    </div>

    
    <!--  commment section  -->
    <div class=''>
    <!--  each comments as comment card  -->

    <!--  submit comment (logged in)  -->

    </div>
</main>