/* style hero content and rotating words  */
.hero {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  h1 {
    margin-top: 0;
    margin-bottom: 2rem;
    padding: 2rem;
    font-size: 4rem;
  }
  .banner-h1 {
    margin-top: 3rem;
    margin-left: 25%;
    width: 66%;
    line-height: 1;
    text-align: left;
    font-weight: normal;
  }
  /* style word swipe  */
  h2 {
    display: block;
    font-size: 2rem;
    margin-top: 1rem;
  }
  .rw-wrapper {
    position: relative;
  }
  .rw-words {
    display: inline;
    text-indent: 10px;
  }
  .rw-words-1 span {
    position: absolute;
    opacity: 0;
    /* overflow: hidden; */
    color: #6b969d;
    -webkit-animation: rotateWord 18s linear infinite 0s;
    -ms-animation: rotateWord 18s linear infinite 0s;
    animation: rotateWord 18s linear infinite 0s;
  }
  .rw-words-1 span:nth-child(2) {
    -webkit-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
    color: #6b889d;
  }
  .rw-words-1 span:nth-child(3) {
    -webkit-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
    color: #6b739d;
  }
  .rw-words-1 span:nth-child(4) {
    -webkit-animation-delay: 9s;
    -ms-animation-delay: 9s;
    animation-delay: 9s;
    color: #7a6b9d;
  }
  .rw-words-1 span:nth-child(5) {
    -webkit-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
    color: #8d6b9d;
  }
  .rw-words-1 span:nth-child(6) {
    -webkit-animation-delay: 15s;
    -ms-animation-delay: 15s;
    animation-delay: 15s;
    color: #9b6b9d;
  }
  @-webkit-keyframes rotateWord {
    0% {
      opacity: 0;
    }
    2% {
      opacity: 0;
      -webkit-transform: translateY(-30px);
    }
    5% {
      opacity: 1;
      -webkit-transform: translateY(0px);
    }
    17% {
      opacity: 1;
      -webkit-transform: translateY(0px);
    }
    20% {
      opacity: 0;
      -webkit-transform: translateY(30px);
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @-ms-keyframes rotateWord {
    0% {
      opacity: 0;
    }
    2% {
      opacity: 0;
      -ms-transform: translateY(-30px);
    }
    5% {
      opacity: 1;
      -ms-transform: translateY(0px);
    }
    17% {
      opacity: 1;
      -ms-transform: translateY(0px);
    }
    20% {
      opacity: 0;
      -ms-transform: translateY(30px);
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes rotateWord {
    0% {
      opacity: 0;
    }
    2% {
      opacity: 0;
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    5% {
      opacity: 1;
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
    17% {
      opacity: 1;
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
    20% {
      opacity: 0;
      -webkit-transform: translateY(30px);
      transform: translateY(30px);
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @media screen and (max-width: 768px) {
    .rw-sentence {
      font-size: 18px;
    }
  }
  @media screen and (max-width: 320px) {
    .rw-sentence {
      font-size: 9px;
    }
  }
  
  /* carousel feature */
  .static {
    position: static;
  }
  .cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .my-width {
    width: 55%;
  }
  .boxy {
    display: block;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0.25em;
    padding: 1em;
    margin-bottom: 1rem;
    width: 55%;
  }
  .owl-slide-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-family: "Courgette", cursive;
  }
  .owl-carousel .owl-slide {
    position: relative;
    height: 100vh;
    background-color: lightgray;
  }
  .owl-carousel .owl-slide-animated {
    transform: translateX(20px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.05s;
  }
  .owl-carousel .owl-slide-animated.is-transitioned {
    transform: none;
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;
  }
  
  .owl-carousel .owl-slide-title.is-transitioned {
    transition-delay: 0.2s;
  }
  
  .owl-carousel .owl-slide-subtitle.is-transitioned {
    transition-delay: 0.35s;
  }
  
  .owl-carousel .owl-slide-cta.is-transitioned {
    transition-delay: 0.5s;
  }
  
  .owl-carousel .owl-dots,
  .owl-carousel .owl-nav {
    position: absolute;
  }
  .owl-carousel .owl-dots {
    margin-top: 1rem;
  }
  
  .owl-carousel .owl-dots .owl-dot,
  .owl-carousel .owl-nav [class*="owl-"]:focus {
    outline: none;
  }
  
  .owl-carousel .owl-dots .owl-dot span {
    background: transparent;
    border: 1px solid var(--main-white-color);
    transition: all 0.2s ease;
  }
  
  .owl-carousel .owl-dots .owl-dot:hover span,
  .owl-carousel .owl-dots .owl-dot.active span {
    background: var(--main-white-color);
  }
  
  .owl-carousel .owl-nav {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .owl-carousel .owl-nav svg {
    opacity: 0.3;
    transition: opacity 0.3s;
  }
  
  .owl-carousel .owl-nav button:hover svg {
    opacity: 1;
  }
  
  .owl-carousel .owl-nav [class*="owl-"]:hover {
    background: transparent;
  }
  .button {
    border: none;
    border: 3px solid white;
    border-radius: 5px;
    transition: all 0.3s;
    outline: 0;
    display: block;
    padding: 8px;
    color: #fff;
    background-color: #4d83a3;
    text-align: center;
    cursor: pointer;
    width: 60%;
    font-weight: bold;
  }
  .button:hover {
    opacity: 0.7;
  }
  
  @media screen and (max-width: 575px) {
    .owl-carousel .owl-nav {
      top: 5%;
    }
  
    .owl-carousel .owl-nav svg {
      width: 24px;
      height: 24px;
    }
  }
  .profile-h1 {
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.8);
    margin-bottom: 0;
    margin-top: 1rem;
    width: 80%;
    text-align: center;
  }
  