.mobile-main {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  /* border-bottom: 10px solid rgba(0, 0, 0, 0.8); */
}
.profile {
  font-family: sans-serif;
  padding-bottom: 3rem;
}
.profile:first-child {
  padding-top: 3rem;
}
.profile-container {
  width: 60%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 2rem 0;
  justify-content: center;
}
.profile-body {
  margin: 0 5rem;
  display: flex;
  flex-direction: column;
}
.profile-body .video {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-philosopher {
  text-align: center;
  padding-top: 1.25rem;
  display: flex;
  flex-direction: row;
}
.about-philosopher::before,
.about-philosopher::after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #fff;
  margin: auto 1rem;
}
.profile-summary {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 1.5rem 0 0;
}
.profile-content div {
  display: block;
}
.profile-summary img {
  border-radius: 10px;
  width: 200px;
  height: 250px;
}
.profile-content {
  padding-left: 1.5rem;
}
.philosopher-name {
  text-align: center;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}
.philosopher-more {
  padding-top: 1rem;
}
button {
  display: block;
  margin-top: 5px;
  border: 3px solid #fff;
  border-radius: 5px;
  transition: all 0.3s;
  padding: 0.5rem;
  color: #fff;
  background-color: #4d83a3;
  text-align: center;
  cursor: pointer;
  width: 30%;
  font-weight: bold;
}
button:hover {
  opacity: 0.7;
}
